/*************************************************
                FONT IMPORTS
**************************************************/
@font-face {
  font-family: Knicknack;
  src: url(../Webfonts/Knicknack-Regular.woff); }
@font-face {
  font-family: Knicknack Medium;
  src: url(../Webfonts/Knicknack-Medium.woff); }
@font-face {
  font-family: Knicknack Bold;
  src: url(../Webfonts/Knicknack-Bold.woff); }
/*************************************************
                 VARIABLES
**************************************************/
/*Goal Variables*/
/*Font Variables*/
/*************************************************
SASS
REMEMBER TO THINK  "CAN I USE"....
VARIABLES
MIXINS
EXTEND

**************************************************/
body {
  margin: 0;
  padding: 0;
  background-color: #d3a029; }

section {
  display: block; }

.navbar-header {
  position: absolute; }

.navbar-brand:hover {
  animation: top .7s ease-out;
  -webkit-animation-fill-mode: forwards;
  /* Chrome, Safari, Opera */
  animation-fill-mode: alternate-reverse; }

.navbar {
  z-index: 10;
  cursor: pointer; }

/*************************************************
                  Typography
**************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "Knicknack", sans-serif;
  letter-spacing: 2px; }

h1 {
  font-size: 70px; }

h2 {
  font-size: 30px; }

p, .p-small, .box ul {
  margin-bottom: 20px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 25px;
  text-align: center;
  font-weight: 100;
  line-height: 46px;
  letter-spacing: 2px; }

.p-small, .box ul {
  font-size: 1.125em; }

/*************************************************
                  Links & Buttons
**************************************************/
a {
  font-family: "Knicknack", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ffffff; }

.title {
  z-index: 2;
  margin-top: 7%; }

.test-border {
  border: 2px solid white; }

.center-canvas, .section-goal2-title, .section-goal2-define, .section-game, .wrapper-change {
  margin: 0 auto;
  width: 100%; }

.section1, .section-goal2-title, .section-goal2-define, .section-game, .section-change, .section-quiz {
  height: 100vh;
  cursor: url("../assets/fried-potatoes.png"), auto; }

.section2 {
  margin-top: 20%; }

/*========================================================
          SECTION: TITLE
==========================================================*/
.section-goal2-title {
  /*responsive image*/
  background-image: url("../img/SDG-goal2-bg.png");
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/*========================================================
          SECTION: QUIZZ
==========================================================*/
.goal-text {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20%; }

.section-goal2-define {
  /*responsive image*/
  background-image: url("../img/SDG-goal2-defination.png");
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/*========================================================
          SECTION: GAME
==========================================================*/
.section-game {
  background-color: #fbc30a; }

.game-text {
  width: 100%;
  margin-top: 10%;
  margin-left: 10%;
  border: 1px solid green; }

/*========================================================
          SECTION: CARD
==========================================================*/
/*========================================================
          SECTION: MAKE A DIFFERENCE
==========================================================*/
.wrapper-change {
  border: 1px solid white;
  margin-top: 10%;
  width: 80%;
  height: 100%; }

.box {
  margin-top: 10%;
  height: 500px;
  width: 400px;
  background-color: white;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 5px; }
  .box h2 {
    margin-top: 20px;
    color: #d3a029; }
  .box img {
    margin-top: 5%; }
  .box ul {
    color: #d3a029;
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    text-align: left; }
  .box li {
    margin-top: 5px;
    padding-left: 10%; }

.col-gap-10.container {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.col-gap-10.container > .row {
  margin-left: -20px !important;
  margin-right: -20px !important; }

/*========================================================
          SECTION: QUIZ
==========================================================*/
.quiz-wrapper {
  margin-top: 10%; }

.question {
  font-size: 30px;
  margin-bottom: 30px;
  color: #ffffff; }

.answers {
  margin-bottom: 30px;
  text-align: left;
  display: inline-block; }

.answers label {
  display: block;
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 600px;
  height: 60px;
  background-color: #ffffff;
  cursor: pointer; }
  .answers label:hover {
    background-color: #fbc30a; }

button {
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  width: 280px;
  cursor: pointer;
  margin-top: 60px; }
  button:hover {
    background-color: #fbc30a; }

.quiz {
  position: absolute;
  z-index: 0;
  left: 12px;
  top: 10px; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s; }

.active-slide {
  opacity: 1;
  z-index: 2; }

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
  z-index: 2; }

.button-wrapper {
  font-family: "Knicknack", sans-serif;
  position: relative;
  margin-top: 150px;
  z-index: 2; }

.canvas {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  border: 0px solid #000; }

#results {
  margin-top: 3%;
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  color: #ffffff; }

#feedback {
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  color: #ffffff; }

/*========================================================
          Animation
==========================================================*/
@keyframes top {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(20px); } }

/*# sourceMappingURL=goal2style.css.map */
