/* Global reset
   http://meyerweb.com/eric/tools/css/reset/ 
*****************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, .p-small, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*************************************************
                FONT IMPORTS
**************************************************/
@font-face {
  font-family: Knicknack;
  src: url(../Webfonts/Knicknack-Regular.woff); }
@font-face {
  font-family: Knicknack Medium;
  src: url(../Webfonts/Knicknack-Medium.woff); }
@font-face {
  font-family: Knicknack Bold;
  src: url(../Webfonts/Knicknack-Bold.woff); }
/*************************************************
                 VARIABLES
**************************************************/
/*Goal Variables*/
/*Font Variables*/
/*************************************************
SASS
REMEMBER TO THINK  "CAN I USE"....
VARIABLES
MIXINS
EXTEND
**************************************************/
body {
  margin: 0;
  padding: 0; }

#container {
  margin-left: 400px; }

.navbar-header {
  position: absolute; }

.navbar-brand {
  cursor: url(../img/tap.png), auto; }
  .navbar-brand:hover {
    animation: top .7s ease-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: alternate-reverse; }

.navbar {
  z-index: 10;
  cursor: pointer;
  margin-top: -1%; }

/*************************************************
                  Typography
**************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "Knicknack", sans-serif;
  letter-spacing: .7px; }

h1 {
  font-size: 3.8em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

p, .p-small {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
  line-height: 46px;
  letter-spacing: 2px; }

.p-small {
  font-size: 1.125em; }

/*************************************************
                  Links & Buttons & Tip Box
**************************************************/
button {
  font-family: "Knicknack", sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  width: 280px;
  cursor: pointer;
  margin-top: 60px; }
  button:hover {
    background-color: #0757a0; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

/*************************************************
                    Audio
**************************************************/
.audiobox {
  position: absolute;
  background-image: url("../img/pause.png");
  border: none;
  top: -5.5%;
  left: 95%;
  z-index: 10;
  height: 60px;
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: url(../img/tap.png), auto; }

/*************************************************
                  Page Struture
**************************************************/
section {
  margin: 0;
  padding: 0; }

.center-div {
  width: 100%;
  margin: 0 auto; }

.margin-top-10 {
  margin-top: 10%; }

.margin-bottom-10 {
  margin-bottom: 10%; }

#intro-bg {
  background-image: url("../img/sdg_introworld1.png"); }

#home-bg {
  background-image: url("../img/sdg_homemap.png");
  background-size: cover;
  overflow: hidden; }

#characters-bg {
  background-image: url("../img/choose-character.png"); }

/* .page-content class for all our Intro-world sections*/
.page-content {
  position: absolute;
  /*responsive image*/
  height: 100%;
  margin: 0 auto;
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-intro {
  position: absolute;
  /*responsive image*/
  height: 100%;
  margin: 0 auto;
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.other {
  float: right;
  left: 40%; }

/*************************************************
             Badges ELEMENTS
**************************************************/
/* Component: Well */
.well {
  max-height: 100%;
  overflow: hidden;
  border-radius: 0;
  margin-bottom: 10px; }

.well .well-heading .controls {
  position: absolute;
  top: 10px;
  right: 30px; }

.well .well-body {
  padding: 10px;
  margin-top: 20px;
  position: relative;
  z-index: 3; }

.well .well-image {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.well.well-solid {
  color: white; }

.well:hover .well-image {
  font-size: 60px; }

.well-transparent {
  background-color: transparent;
  color: #454545; }

.mini-profile-widget .image-container .avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  padding: 4px;
  border: 1px solid #dddddd; }

.mini-profile-widget .details {
  text-align: center; }

.badges {
  opacity: 0.6; }

/*************************************************
              HOME PAGE ELEMENTS
**************************************************/
.cloud1 {
  position: absolute;
  top: 50%;
  left: -10%;
  z-index: 10;
  animation: drift 80s linear infinite; }

.cloud2 {
  position: absolute;
  top: 10%;
  left: -10%;
  z-index: 10;
  animation: drift 80s 40s linear infinite; }

.cloud3 {
  position: absolute;
  top: 80%;
  left: -10%;
  z-index: 10;
  animation: drift 90s 20s linear infinite; }

.boat2 {
  position: absolute;
  top: 20%;
  left: 95%;
  z-index: 10;
  /*  border: 1px solid pink;*/
  animation: sailleft 50s  linear infinite alternate; }

.boat1 {
  position: absolute;
  top: 40%;
  left: 0%;
  z-index: 10;
  /* border: 1px solid yellow;*/
  animation: sail 50s  linear infinite alternate; }

.goal2 {
  position: absolute;
  top: 23%;
  left: 23%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.goal14 {
  position: absolute;
  top: 30%;
  left: 79%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-badge {
  position: absolute;
  top: -8%;
  left: 77%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }
  .navbar-badge:hover {
    animation: top .7s ease-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: alternate-reverse; }

.navbar-help {
  position: absolute;
  top: 1%;
  left: 85%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-langauge {
  position: absolute;
  top: 1%;
  left: 90%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-audio {
  position: absolute;
  top: 1%;
  left: 95%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-title {
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 2%;
  z-index: 10;
  /*cursor: url(../img/tap.png), auto;*/ }

.navbar-name {
  position: absolute;
  bottom: 1%;
  left: 2%;
  z-index: 10;
  width: 100%;
  height: auto;
  /*cursor: url(../img/tap.png), auto;*/ }

/*************************************************
              WEB ANIMATIONS
**************************************************/
@keyframes top {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(20px); } }
@keyframes drift {
  from {
    transform: translateX(-55px); }
  to {
    transform: translateX(2000px); } }
@keyframes sail {
  from {
    transform: translateX(5px); }
  to {
    transform: translateX(100px); } }
@keyframes sailleft {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-100px); } }
@keyframes spin {
  100% {
    transform: rotate(2turn); } }
/*************************************************************
              MEDIA QUERIES
 HELP:https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488           
 ***************************************************************/
@media (min-width: 501px) and (max-width: 1024px) {
  #home-bg,
  #intro-bg {
    background-image: url("../img/sdg_flip.png"); }

  .audiobox {
    position: absolute;
    background-image: url("../img/pause.png");
    top: -2.5%;
    left: 2%;
    z-index: 10;
    height: 60px;
    width: 60px; }

  /*Hide our logo*/
  .navbar-brand {
    display: none; }

  .navbar-brand {
    display: none; }

  .cloud1 {
    display: none; }

  .cloud2 {
    display: none; }

  .cloud3 {
    display: none; }

  .boat1 {
    display: none; }

  .boat2 {
    display: none; }

  .goal2 {
    display: none; }

  .goal14 {
    display: none; }

  .navbar-badge {
    display: none; }

  .navbar-help {
    display: none; }

  .navbar-langauge {
    display: none; }

  .navbar-audio {
    display: none; }

  .navbar-name {
    display: none; } }
/*if anything needs to change MOBILE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    background-color: brand-blue; } }
@media only screen and (max-width: 500px) {
  body {
    background-color: #478bca; }

  #home-bg,
  #intro-bg {
    margin-top: 20px;
    position: block;
    background-image: url("../img/sdg_sorry.png");
    width: 100%;
    height: 100%;
    margin: 0 auto; }

  .audiobox {
    position: absolute;
    background-image: url("../img/pause.png");
    top: -2.5%;
    left: 40%;
    z-index: 10;
    height: 60px;
    width: 60px; }

  .page-content {
    position: block;
    /*responsive image*/
    height: 100%;
    margin: 0 auto;
    /*Border gives the effect of game*/
    border: none;
    /*Rounded corner of sections*/
    border-radius: 0;
    z-index: 3;
    /* Center and scale*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

  /*Hide our logo*/
  .navbar-brand {
    display: none; }

  .cloud1 {
    display: none; }

  .cloud2 {
    display: none; }

  .cloud3 {
    display: none; }

  .boat1 {
    display: none; }

  .boat2 {
    display: none; }

  .goal2 {
    display: none; }

  .goal14 {
    display: none; }

  .navbar-badge {
    display: none; }

  .navbar-help {
    display: none; }

  .navbar-langauge {
    display: none; }

  .navbar-audio {
    display: none; }

  .navbar-name {
    display: none; } }
/*Wind Mills
.windmill img{
    position: absolute;
    z-index: 10; 
    top: 50%;
    left: 30%;
    animation: spin 10s linear infinite;
    animation-play-state: paused;
    &:hover {
    animation-play-state: running;
    
   } 
 } 
 */
/*@import 'goal2styles';
*/
/* SUSTAINABLE DEVELOPMENT GOALS - LIFE BELOW WATER  - GOAL 14 
*****************************************************************/
/*************************************************
               NAV BAR
**************************************************/
.navbar-header {
  border: 2px solid white; }

.navbar {
  position: absolute;
  z-index: 99999;
  cursor: pointer;
  top: -150px; }

/* Extended base styles (site specific)
*****************************************************************/
html {
  overflow-y: scroll;
  /* always force a scrollbar in non-IE */ }

body {
  background: #5cc4fc;
  /* color background of the whole page*/
  overflow-x: hidden;
  /*	height: 6000px;*/
  line-height: 1.5;
  color: #000;
  font-family: "Poppins", sans-serif, sans-serif; }

h1 {
  color: #0757a0; }

h2 {
  color: #fff; }

h3 {
  color: #fff; }

a, a:link,
a:active,
a:visited {
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  color: #478bca;
  outline: none;
  text-decoration: none; }

a:hover {
  color: #000; }

img {
  display: block; }

/*p {
	margin:1em 0;
	font-size: 1.5em;
	color: #fff;
	}*/
/* Break between arrows
*****************************************************************/
hr {
  margin: 0;
  border: none;
  border-top: 1px solid #478bca;
  /*border-bottom: 1px solid #3b3b3b;*/
  height: 3px; }

/* Page structure
*****************************************************************/
#wrapper {
  position: relative;
  height: 6000px;
  /*here we declare height of the project*/ }

/*#container
{
	position:absolute;
	width:600px;	
	display:inline-block;
	left:50%;
	margin-left:-270px;
}
*/
button {
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  width: 280px;
  cursor: pointer;
  margin-top: 60px;
  top: 70%; }
  button:hover {
    background-color: #0757a0; }

/* Nav
*****************************************************************/
nav#primary {
  z-index: 5;
  position: fixed;
  top: 50%;
  right: 16px;
  margin-top: -40px; }

nav#primary li {
  position: relative;
  height: 20px; }

nav#primary a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: transparent url("../img/nav-dot.png") 4px 4px no-repeat; }

nav#primary a:hover, nav#primary a.active {
  background: transparent url("../img/nav-dot.png") 4px -16px no-repeat; }

nav#primary h1 {
  position: absolute;
  right: 22px;
  top: -7px;
  display: none;
  padding: 4px 20px 4px 7px;
  color: #fff;
  white-space: nowrap;
  background: transparent url("../img/nav-arrow.png") 100% 50% no-repeat; }

nav.next-prev {
  margin: 20px 0 0 0; }

a.prev,
a.next {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -9999px; }

a.prev {
  /*margin around the arrow*/
  margin: 0 auto 10px auto;
  /*arrow png 0 0 - which dimentions of the spirte to read*/
  background: transparent url("../img/scroll-arrow-up.png") 0 0 no-repeat; }

/*hover on the arrows*/
a.prev:hover {
  background: transparent url("../img/scroll-arrow-up.png") 0 -30px no-repeat; }

a.next {
  margin: 10px auto 0 auto;
  background: transparent url("../img/scroll-arrow-down.png") -1px 2px no-repeat; }

a.next:hover {
  background: transparent url("../img/scroll-arrow-down.png") -1px -30px no-repeat; }

/* Parallax
*****************************************************************/
/* content */
#content {
  z-index: 4;
  position: relative;
  max-width: 820px;
  /* width of the content*/
  padding: 0 10px;
  margin: 0 auto;
  line-height: 1.7; }

#content h1, h2 {
  text-align: center;
  margin: 0 0 25px 0;
  font-family: "Knicknack", sans-serif, Lato, Georgia, serif;
  font-weight: normal;
  line-height: 65px; }

#content article {
  width: 100%; }

#first-point,
#second-point,
#third-point,
#fourth-point,
#fifth-point {
  padding-top: 105px; }

#first-point {
  position: absolute;
  top: 0px; }

#second-point {
  position: absolute;
  top: 1090px; }

#third-point {
  position: absolute;
  top: 2180px; }

#fourth-point {
  position: absolute;
  top: 3270px; }

#fifth-point {
  position: absolute;
  top: 4360px; }

#button-next {
  bottom: 5000px; }

/*images*/
#intro-img {
  margin: 10px auto 0 auto;
  width: 785px;
  height: 400px;
  background: transparent url("../img/goal-14-intro.png") -1px 2px no-repeat; }

#Earth {
  margin: 10px auto 0 auto;
  width: 128px;
  height: 128px;
  background: transparent url("../img/earth.png") -1px 2px no-repeat; }

#icon-goal14 {
  margin: 10px auto 0 auto;
  width: 128px;
  height: 130px;
  background: transparent url("../img/icon-goal14.png") -1px 2px no-repeat; }

#Bottle {
  margin: 10px auto 0 auto;
  width: 128px;
  height: 128px;
  background: transparent url("../img/bottle.png") -1px 2px no-repeat; }

.big-text {
  font-size: 4em; }

.buttons-g14 {
  margin: 10px auto;
  display: block; }

.center {
  margin: 10% auto;
  display: block; }

/* foreground (bubbles/jellyfish) */
#parallax-bg3 {
  z-index: 3;
  position: fixed;
  left: 50%;
  /* align left edge with center of viewport */
  top: 0;
  width: 940px;
  margin-left: -470px;
  /* move left by half element's width */ }

/* bubbles */
#bg3-1 {
  position: absolute;
  top: -111px;
  left: 355px; }

#bg3-2 {
  position: absolute;
  top: 812px;
  left: 321px; }

#bg3-3 {
  position: absolute;
  top: 1628px;
  left: 403px; }

#bg3-4 {
  position: absolute;
  top: 2700px;
  left: -85px; }

/* midground (clouds) */
#bubbles-2 {
  z-index: 2;
  position: fixed;
  left: 50%;
  /* align left edge with center of viewport */
  top: 0;
  width: 1200px;
  margin-left: -550px;
  /* move left by half element's width */ }

#bubble-1 {
  position: absolute;
  top: 162px;
  left: 200px; }

#bubble-2 {
  position: absolute;
  top: 300px;
  left: 1150px; }

#bubble-3 {
  position: absolute;
  top: 543px;
  left: -35px; }

#bubble-4 {
  position: absolute;
  top: 1180px;
  left: 250px; }

#bubble-5 {
  position: absolute;
  top: 930px;
  left: 890px; }

#bubble-6 {
  position: absolute;
  top: 2500px;
  left: 890px; }

#bubble-7 {
  position: absolute;
  top: 3000px;
  left: 250px; }

/* background (clouds) */
#jellyfish {
  z-index: 1;
  position: fixed;
  left: 50%;
  /* align left edge with center of viewport */
  top: 0;
  width: 1200px;
  margin-left: -600px;
  /* move left by half element's width */ }

#jellyfish-1 {
  position: absolute;
  top: 85px;
  left: -270px; }

#jellyfish-2 {
  position: absolute;
  top: 440px;
  left: 805px; }

#jellyfish-3 {
  position: absolute;
  top: 900px;
  left: 450px; }

#jellyfish-4 {
  position: absolute;
  top: 2000px;
  left: 150px; }

/*========================================================
          SECTION: QUIZ
==========================================================*/
.quiz-wrapper {
  margin-top: 10%; }

/*question styles from js*/
.question {
  font-size: 30px;
  margin-bottom: 30px;
  color: #ffffff; }

.answers {
  margin-bottom: 30px;
  text-align: left;
  display: inline-block; }

.answers label {
  display: block;
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 600px;
  height: 60px;
  background-color: #ffffff;
  cursor: pointer; }
  .answers label:hover {
    background-color: #017dbc; }

button {
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  width: 280px;
  cursor: pointer;
  margin-top: 60px; }
  button:hover {
    background-color: #0757a0; }

.quiz {
  position: absolute;
  z-index: 0;
  left: 12px;
  top: 10px; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s; }

.active-slide {
  opacity: 1;
  z-index: 2; }

.quiz-container {
  position: relative;
  height: 100px;
  margin-top: 40px;
  z-index: 2; }

.button-wrapper {
  font-family: "Knicknack", sans-serif;
  position: relative;
  margin-top: 150px;
  z-index: 2; }

.canvas {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  border: 0px solid #000; }

#results {
  margin-top: 3%;
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  color: #ffffff; }

#feedback {
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  color: #ffffff; }

.next-page {
  float: right;
  margin: 2% 5% 5% 0; }

.previous-page {
  float: left;
  margin: 2% 5% 0 5%; }

/*# sourceMappingURL=goal14style.css.map */
