/*************************************************
                FONT IMPORTS
**************************************************/
@font-face {
  font-family: Knicknack;
  src: url(../Webfonts/Knicknack-Regular.woff); }
@font-face {
  font-family: Knicknack Medium;
  src: url(../Webfonts/Knicknack-Medium.woff); }
@font-face {
  font-family: Knicknack Bold;
  src: url(../Webfonts/Knicknack-Bold.woff); }
/*************************************************
                 VARIABLES
**************************************************/
/*Goal Variables*/
/*Font Variables*/
/*************************************************
SASS
REMEMBER TO THINK  "CAN I USE"....
VARIABLES
MIXINS
EXTEND
**************************************************/
body {
  margin: 0;
  padding: 0;
  background-color: pink; }

#container {
  margin-left: 400px; }

.navbar-header {
  position: absolute; }

.navbar-brand {
  cursor: url(../img/tap.png), auto; }
  .navbar-brand:hover {
    animation: top .7s ease-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: alternate-reverse; }

.welcome {
  width: 200px;
  margin-left: 50%; }

.navbar {
  z-index: 10;
  cursor: pointer; }

/*************************************************
                  Typography
**************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "Knicknack", sans-serif; }

h1 {
  font-size: 3.8em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

p, .p-small {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
  line-height: 46px;
  letter-spacing: 2px; }

.p-small {
  font-size: 1.125em; }

/*************************************************
                  Links & Buttons & Tip Box
**************************************************/
button {
  font-family: "Knicknack", sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  width: 280px;
  cursor: pointer;
  margin-top: 60px; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

/*************************************************
                  Page Struture
**************************************************/
section {
  margin: 0;
  padding: 0; }

.section-cover {
  max-width: 100%; }

#intro-bg {
  background-image: url("../img/sdg_introworld1.png"); }

#home-bg {
  background-image: url("../img/sdg_homemap.png"); }

/* .page-content class for all our Intro-world sections*/
.page-content {
  position: absolute;
  /*responsive image*/
  height: 100%;
  margin: 0 auto;
  /*Border gives the effect of game*/
  border: 20px solid #ffffff;
  /*Rounded corner of sections*/
  border-radius: 60px;
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

/*************************************************
              HOME PAGE ELEMENTS
**************************************************/
.cloud1 {
  position: absolute;
  top: 50%;
  left: -10%;
  z-index: 10;
  width: 4%;
  animation: drift 80s linear infinite; }

.cloud2 {
  position: absolute;
  top: 10%;
  left: -10%;
  z-index: 10;
  width: 4%;
  animation: drift 80s 40s linear infinite; }

.cloud3 {
  position: absolute;
  top: 80%;
  left: -10%;
  z-index: 10;
  width: 4%;
  animation: drift 90s 20s linear infinite; }

.boat1 {
  position: absolute;
  top: 80%;
  left: 0%;
  width: 4%;
  z-index: 10;
  animation: sail 50s  linear infinite alternate; }

.boat2 {
  position: absolute;
  top: 20%;
  left: 95%;
  width: 4%;
  z-index: 10;
  animation: sailleft 50s  linear infinite alternate; }

.goal2 {
  position: absolute;
  top: 23%;
  left: 23%;
  width: 4%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.goal14 {
  position: absolute;
  top: 30%;
  left: 79%;
  width: 4%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-badge {
  position: absolute;
  top: -8%;
  left: 77%;
  max-width: 4%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }
  .navbar-badge:hover {
    animation: top .7s ease-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: alternate-reverse; }

.navbar-help {
  position: absolute;
  top: 1%;
  left: 85%;
  max-width: 5%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-langauge {
  position: absolute;
  top: 1%;
  left: 90%;
  max-width: 5%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-audio {
  position: absolute;
  top: 1%;
  left: 95%;
  max-width: 5%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

/*************************************************
              WEB ANIMATIONS
**************************************************/
@keyframes top {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(20px); } }
@keyframes drift {
  from {
    transform: translateX(-55px); }
  to {
    transform: translateX(2000px); } }
@keyframes sail {
  from {
    transform: translateX(5px); }
  to {
    transform: translateX(100px); } }
@keyframes sailleft {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-100px); } }
@keyframes spin {
  100% {
    transform: rotate(2turn); } }
/*************************************************************
              MEDIA QUERIES
 HELP:https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488           
***************************************************************/
@media (min-width: 501px) and (max-width: 1024px) {
  #home-bg,
  #intro-bg {
    background-image: url("../img/sdg_flip.png"); }

  .page-content {
    position: block;
    /*responsive image*/
    height: 100%;
    margin: 0 auto;
    /*Border gives the effect of game*/
    border: none;
    /*Rounded corner of sections*/
    border-radius: 0;
    z-index: 3;
    /* Center and scale*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

  /*Hide our logo*/
  .navbar-brand {
    display: none; } }
/*if anything needs to change*/
@media only screen and (max-width: 500px) {
  body {
    background-color: #478bca; }

  #home-bg,
  #intro-bg {
    background-image: url("../img/sdg_sorry.png");
    width: 100%;
    height: 100%;
    margin: 0 auto; }

  .page-content {
    position: block;
    /*responsive image*/
    height: 100%;
    margin: 0 auto;
    /*Border gives the effect of game*/
    border: none;
    /*Rounded corner of sections*/
    border-radius: 0;
    z-index: 3;
    /* Center and scale*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

  /*Hide our logo*/
  .navbar-brand {
    display: none; } }
/*Wind Mills
.windmill img{
    position: absolute;
    z-index: 10; 
    top: 50%;
    left: 30%;
    animation: spin 10s linear infinite;
    animation-play-state: paused;
    &:hover {
    animation-play-state: running;
    
   } 
 } 
 */
body {
  margin: 0;
  padding: 0;
  background-color: #d3a029; }

section {
  display: block; }

/*************************************************
                  Typography
**************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "Knicknack", sans-serif;
  letter-spacing: 2px; }

h1 {
  font-size: 70px; }

h2 {
  font-size: 30px; }

p, .p-small {
  margin-bottom: 20px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 10px;
  font-family: "Poppins";
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  line-height: 46px;
  letter-spacing: 2px; }

.p-small {
  font-size: 1.125em;
  color: #d3a029; }

/*************************************************
                  Links & Buttons
**************************************************/
a {
  font-family: "Knicknack", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #ffffff; }

.title {
  z-index: 2;
  margin-top: 7%; }

.test-border {
  border: 2px solid white; }

.center-canvas, .section-goal2-title, .section-goal2-define, .section-help, .section-game, .wrapper-change {
  margin: 0 auto;
  width: 100%; }

/*========================================================
          STRUCTURE
==========================================================*/
.section1, .section-goal2-title, .section-goal2-define, .section-help, .section-game, .section-change, .section-quiz {
  height: 100vh;
  cursor: url("../assets/fried-potatoes.png"), auto; }

.section2 {
  margin-top: 20%; }

.navbar-header {
  border: 2px solid white; }

.navbar {
  margin-top: -10%;
  position: absolute;
  z-index: 10;
  cursor: pointer; }

/*========================================================
          SECTION: TITLE
==========================================================*/
.section-goal2-title {
  /*responsive image*/
  background-image: url("../img/SDG-goal2-bg.png");
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.cloud1 {
  position: absolute;
  top: 30%;
  left: -20%;
  z-index: 10;
  width: 4%;
  animation: drift 80s linear infinite; }

.cloud2 {
  position: absolute;
  top: 5%;
  left: -20%;
  z-index: 10;
  width: 4%;
  animation: drift 80s 30s linear infinite; }

/*========================================================
          SECTION: QUIZZ
==========================================================*/
.goal-text {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20%; }

.section-goal2-define {
  /*responsive image*/
  background-image: url("../img/SDG-goal2-defination.png");
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

/*========================================================
          SECTION: WHY HELP
==========================================================*/
.section-help p, .section-help .p-small {
  margin-top: 5%;
  text-align: left; }

.margin-top10 {
  margin-top: 10%; }

/*========================================================
          SECTION: GAME
==========================================================*/
.game-text {
  width: 100%;
  margin-top: 10%;
  margin-left: 10%; }

/*========================================================
          SECTION CARD
==========================================================*/
.section-cards {
  height: 150vh; }

.wrap-text {
  margin: 10%; }

ul {
  perspective: 600;
  margin-left: 10%; }

li {
  width: 200px;
  height: 200px;
  float: left;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 50px;
  position: relative;
  cursor: pointer;
  counter-increment: item; }
  li div {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    transition: all .5s;
    backface-visibility: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); }
  li img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px; }
  li:hover .front {
    z-index: 0;
    transform: rotateY(180deg); }
  li:hover .back {
    transform: rotateY(0); }

.front {
  z-index: 3;
  color: #ffffff;
  text-align: center;
  line-height: 200px;
  font-size: 4em;
  font-family: "Knicknack", sans-serif;
  background: #fbc30a; }
  .front:after {
    content: counter(item); }

.back {
  transform: rotateY(180deg); }

/*========================================================
          SECTION: MAKE A DIFFERENCE
==========================================================*/
.section-change {
  /*ul{

    @extend .p-small;
    color: $goal2-dark;
    list-style-type: none;
    margin: 0;
    padding-top: 20px;
    text-align: left;

  }

  

  li{
  margin-top: 5px; 
  padding-left: 10%;


  }*/ }

.wrapper-change {
  margin-top: 10%;
  width: 80%;
  height: 100%; }

.box {
  margin-top: 10%;
  height: 500px;
  width: 400px;
  background-color: white;
  border: 2px solid transparent;
  padding: 5px;
  border-radius: 5px; }
  .box h2 {
    margin-top: 20px;
    color: #d3a029; }
  .box img {
    margin-top: 5%; }

.col-gap-10.container {
  padding-left: 5px !important;
  padding-right: 5px !important; }

.col-gap-10.container > .row {
  margin-left: -20px !important;
  margin-right: -20px !important; }

/*========================================================
          SECTION: QUIZ
==========================================================*/
.quiz-wrapper {
  margin-top: 10%; }

.question {
  font-size: 30px;
  margin-bottom: 30px;
  color: #ffffff; }

.answers {
  margin-bottom: 30px;
  text-align: left;
  display: inline-block; }

.answers label {
  display: block;
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 600px;
  height: 60px;
  background-color: #ffffff;
  cursor: pointer; }
  .answers label:hover {
    background-color: #fbc30a; }

button {
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  width: 280px;
  cursor: pointer;
  margin-top: 60px; }
  button:hover {
    background-color: #fbc30a; }

.quiz {
  position: absolute;
  z-index: 0;
  left: 12px;
  top: 10px; }

.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s; }

.active-slide {
  opacity: 1;
  z-index: 2; }

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
  z-index: 2; }

.button-wrapper {
  font-family: "Knicknack", sans-serif;
  position: relative;
  margin-top: 150px;
  z-index: 2; }

.canvas {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  border: 0px solid #000; }

#results {
  margin-top: 3%;
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  color: #ffffff; }

#feedback {
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  color: #ffffff; }

/*========================================================
          Animation
==========================================================*/
@keyframes drift {
  from {
    transform: translateX(-55px); }
  to {
    transform: translateX(2000px); } }
@keyframes top {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(20px); } }

/*# sourceMappingURL=goal2style.css.map */
