/*************************************************
                FONT IMPORTS
**************************************************/
@font-face {
  font-family: Knicknack;
  src: url(../Webfonts/Knicknack-Regular.woff); }
@font-face {
  font-family: Knicknack Medium;
  src: url(../Webfonts/Knicknack-Medium.woff); }
@font-face {
  font-family: Knicknack Bold;
  src: url(../Webfonts/Knicknack-Bold.woff); }
/*************************************************
                 VARIABLES
**************************************************/
/*Goal Variables*/
/*Font Variables*/
/*************************************************
SASS
REMEMBER TO THINK  "CAN I USE"....
VARIABLES
MIXINS
EXTEND
**************************************************/
body {
  margin: 0;
  padding: 0; }

#container {
  margin-left: 400px; }

.navbar-header {
  position: absolute; }

.navbar-brand {
  cursor: url(../img/tap.png), auto; }
  .navbar-brand:hover {
    animation: top .7s ease-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: alternate-reverse; }

.navbar {
  z-index: 10;
  cursor: pointer;
  margin-top: -1%; }

/*************************************************
                  Typography
**************************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff;
  font-family: "Knicknack", sans-serif;
  letter-spacing: .7px; }

h1 {
  font-size: 3.8em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

p, .p-small {
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 500;
  color: #ffffff;
  margin-top: 10px;
  line-height: 46px;
  letter-spacing: 2px; }

.p-small {
  font-size: 1.125em; }

/*************************************************
                  Links & Buttons & Tip Box
**************************************************/
button {
  font-family: "Knicknack", sans-serif;
  font-size: 2em;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  width: 280px;
  cursor: pointer;
  margin-top: 60px; }
  button:hover {
    background-color: #0757a0; }

button-wrapper {
  border: 2px solid white; }

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px; }

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

/*************************************************
                    Audio
**************************************************/
.audiobox {
  position: absolute;
  background-image: url("../img/pause.png");
  border: none;
  top: -5.5%;
  left: 95%;
  z-index: 10;
  height: 60px;
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: url(../img/tap.png), auto; }

/*************************************************
                  Page Struture
**************************************************/
section {
  margin: 0;
  padding: 0; }

.center-div {
  width: 100%;
  margin: 0 auto; }

.margin-top-10 {
  margin-top: 10%; }

.margin-bottom-10 {
  margin-bottom: 10%; }

.padding-30 {
  padding: 30px; }

.padding-5 {
  padding: 5px; }

#intro-bg {
  background-image: url("../img/sdg_introworld1.png"); }

#home-bg {
  background-image: url("../img/sdg_homemap.png");
  background-size: cover;
  overflow: hidden; }

#characters-bg {
  background-image: url("../img/choose-character.png"); }

/* .page-content class for all our Intro-world sections*/
.page-content {
  position: absolute;
  /*responsive image*/
  height: 100%;
  margin: 0 auto;
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.page-intro {
  position: absolute;
  /*responsive image*/
  height: 100%;
  margin: 0 auto;
  z-index: -2;
  /* Center and scale*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.other {
  float: right;
  left: 40%; }

/*************************************************
             Badges ELEMENTS
**************************************************/
/* Component: Well */
.well {
  max-height: 100%;
  overflow: hidden;
  border-radius: 0;
  margin-bottom: 10px; }

.well .well-heading .controls {
  position: absolute;
  top: 10px;
  right: 30px; }

.well .well-body {
  padding: 10px;
  margin-top: 20px;
  position: relative;
  z-index: 3; }

.well .well-image {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

.well.well-solid {
  color: white; }

.well:hover .well-image {
  font-size: 60px; }

.well-transparent {
  background-color: transparent;
  color: #454545; }

.mini-profile-widget .image-container .avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  padding: 4px;
  border: 1px solid #dddddd; }

.mini-profile-widget .details {
  text-align: center; }

.badges {
  opacity: 0.6; }

/*************************************************
              HOME PAGE ELEMENTS
**************************************************/
.cloud1 {
  position: absolute;
  top: 50%;
  left: -10%;
  z-index: 10;
  animation: drift 80s linear infinite; }

.cloud2 {
  position: absolute;
  top: 10%;
  left: -10%;
  z-index: 10;
  animation: drift 80s 40s linear infinite; }

.cloud3 {
  position: absolute;
  top: 80%;
  left: -10%;
  z-index: 10;
  animation: drift 90s 20s linear infinite; }

.boat2 {
  position: absolute;
  top: 20%;
  left: 95%;
  z-index: 10;
  /*  border: 1px solid pink;*/
  animation: sailleft 50s  linear infinite alternate; }

.boat1 {
  position: absolute;
  top: 40%;
  left: 0%;
  z-index: 10;
  /* border: 1px solid yellow;*/
  animation: sail 50s  linear infinite alternate; }

.goal2 {
  position: absolute;
  top: 23%;
  left: 23%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.goal14 {
  position: absolute;
  top: 30%;
  left: 79%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-badge {
  position: absolute;
  top: -8%;
  left: 77%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }
  .navbar-badge:hover {
    animation: top .7s ease-out;
    -webkit-animation-fill-mode: forwards;
    /* Chrome, Safari, Opera */
    animation-fill-mode: alternate-reverse; }

.navbar-help {
  position: absolute;
  top: 1%;
  left: 85%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-langauge {
  position: absolute;
  top: 1%;
  left: 90%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-audio {
  position: absolute;
  top: 1%;
  left: 95%;
  z-index: 10;
  cursor: url(../img/tap.png), auto; }

.navbar-title {
  position: absolute;
  text-align: center;
  bottom: 5%;
  left: 2%;
  z-index: 10;
  /*cursor: url(../img/tap.png), auto;*/ }

.navbar-name {
  position: absolute;
  bottom: 1%;
  left: 2%;
  z-index: 10;
  width: 100%;
  height: auto;
  /*cursor: url(../img/tap.png), auto;*/ }

/*************************************************
              WEB ANIMATIONS
**************************************************/
@keyframes top {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(20px); } }
@keyframes drift {
  from {
    transform: translateX(-55px); }
  to {
    transform: translateX(2000px); } }
@keyframes sail {
  from {
    transform: translateX(5px); }
  to {
    transform: translateX(100px); } }
@keyframes sailleft {
  from {
    transform: translateX(0px); }
  to {
    transform: translateX(-100px); } }
@keyframes spin {
  100% {
    transform: rotate(2turn); } }
/*************************************************************
              MEDIA QUERIES
 HELP:https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488           
 ***************************************************************/
@media (min-width: 501px) and (max-width: 1024px) {
  #home-bg,
  #intro-bg {
    background-image: url("../img/sdg_flip.png"); }

  .audiobox {
    position: absolute;
    background-image: url("../img/pause.png");
    top: -2.5%;
    left: 2%;
    z-index: 10;
    height: 60px;
    width: 60px; }

  /*Hide our logo*/
  .navbar-brand {
    display: none; }

  .navbar-brand {
    display: none; }

  .cloud1 {
    display: none; }

  .cloud2 {
    display: none; }

  .cloud3 {
    display: none; }

  .boat1 {
    display: none; }

  .boat2 {
    display: none; }

  .goal2 {
    display: none; }

  .goal14 {
    display: none; }

  .navbar-badge {
    display: none; }

  .navbar-help {
    display: none; }

  .navbar-langauge {
    display: none; }

  .navbar-audio {
    display: none; }

  .navbar-name {
    display: none; } }
/*if anything needs to change MOBILE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    background-color: brand-blue; } }
@media only screen and (max-width: 500px) {
  body {
    background-color: #478bca; }

  #home-bg,
  #intro-bg {
    margin-top: 20px;
    position: block;
    background-image: url("../img/sdg_sorry.png");
    width: 100%;
    height: 100%;
    margin: 0 auto; }

  .audiobox {
    position: absolute;
    background-image: url("../img/pause.png");
    top: -2.5%;
    left: 40%;
    z-index: 10;
    height: 60px;
    width: 60px; }

  .page-content {
    position: block;
    /*responsive image*/
    height: 100%;
    margin: 0 auto;
    /*Border gives the effect of game*/
    border: none;
    /*Rounded corner of sections*/
    border-radius: 0;
    z-index: 3;
    /* Center and scale*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

  /*Hide our logo*/
  .navbar-brand {
    display: none; }

  .cloud1 {
    display: none; }

  .cloud2 {
    display: none; }

  .cloud3 {
    display: none; }

  .boat1 {
    display: none; }

  .boat2 {
    display: none; }

  .goal2 {
    display: none; }

  .goal14 {
    display: none; }

  .navbar-badge {
    display: none; }

  .navbar-help {
    display: none; }

  .navbar-langauge {
    display: none; }

  .navbar-audio {
    display: none; }

  .navbar-name {
    display: none; } }
/*Wind Mills
.windmill img{
    position: absolute;
    z-index: 10; 
    top: 50%;
    left: 30%;
    animation: spin 10s linear infinite;
    animation-play-state: paused;
    &:hover {
    animation-play-state: running;
    
   } 
 } 
 */
/*************************************************
                 OVERALL STYLE
**************************************************/
body {
  background-color: #478bca; }

.center {
  margin: 0 auto;
  width: 50%;
  display: block; }

.center-content {
  margin: 0 auto;
  display: block; }

.center-text {
  text-align: center; }

.margin-top {
  margin-top: 10%; }

.border-red {
  border: 5px solid red; }

button {
  font-family: "Knicknack", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: transparent;
  color: #fff;
  border: 2px solid white;
  border-radius: 5px;
  padding: 30px;
  width: 280px;
  cursor: pointer;
  margin-top: 60px; }
  button:hover {
    background-color: #0757a0; }

/*************************************************
               NAV BAR
**************************************************/
.navbar-header {
  border: 2px solid white; }

.navbar {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: -150px; }

/*************************************************
                 SITE SPECIFIC STYLE 
**************************************************/
#intro-img-sdg {
  z-index: -2;
  background: transparent url("../img/intro-img.png") no-repeat;
  height: 100vh;
  background-size: cover; }

#intro-img-index {
  z-index: -2;
  background: transparent url("../img/sdg_introworld1.png") no-repeat;
  height: 100vh;
  background-size: cover; }

.button {
  z-index: 999;
  margin: 0 auto;
  display: block; }

.button-top {
  margin-top: 35%; }

.how-to-play {
  margin-top: 5%;
  margin-bottom: 5%; }

.icon-how {
  padding: 10%; }

.margin-10 {
  margin-top: 10%; }

/*************************************************
                CSS ANIMATION NAMES 
**************************************************/
.soundvoice {
  position: absolute;
  border: none;
  top: 2%;
  left: 77%;
  z-index: 10; }

.audiobox {
  position: absolute;
  background-image: url(https://image.flaticon.com/icons/svg/189/189889.svg);
  border: none;
  top: -5.5%;
  left: 95%;
  z-index: 10;
  height: 60px;
  width: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: url(../img/tap.png), auto; }

/*************************************************
                CSS ANIMATION NAMES 
**************************************************/
#girl-name {
  float: left;
  font-size: 3em;
  margin-left: 150px;
  position: relative;
  animation: leftright 2s ease-out;
  animation-fill-mode: forwards; }

#boy-name {
  float: right;
  position: relative;
  font-size: 3em;
  animation: rightleft 2s ease-out;
  margin-right: 150px;
  animation-fill-mode: forwards; }

.cloud1 {
  position: absolute;
  top: 9%;
  left: -7%;
  z-index: 10;
  animation: drift 80s linear infinite; }

.cloud2 {
  position: absolute;
  top: 9%;
  left: -7%;
  z-index: 10;
  animation: drift 80s 40s linear infinite; }

@keyframes drift {
  from {
    transform: translateX(-55px); }
  to {
    transform: translateX(2000px); } }
@keyframes leftright {
  0% {
    top: 180px;
    left: -300px; }
  100% {
    top: 180px;
    left: -30px; } }
@keyframes rightleft {
  0% {
    top: 180px;
    right: -300px; }
  100% {
    top: 180px;
    right: 0px; } }
/*************************************************************
              MEDIA QUERIES
 HELP:https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488           
 ***************************************************************/
@media (min-width: 501px) and (max-width: 1024px) {
  body {
    background-color: #5cc4fc; }

  #intro-img-sdg,
  #intro-img-index,
  #intro-bg {
    display: none; }

  .cloud1 {
    display: none; }

  .cloud2 {
    display: none; }

  #girl-name {
    display: none; }

  #boy-name {
    display: none; } }
/*if anything needs to change MOBILE*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  body {
    background-color: #5cc4fc; } }
@media only screen and (max-width: 500px) {
  body {
    background-color: #478bca; }

  #intro-img-sdg,
  #intro-img-index,
  #intro-bg {
    display: none; }

  .cloud1 {
    display: none; }

  .cloud2 {
    display: none; }

  #girl-name {
    display: none; }

  #boy-name {
    display: none; } }

/*# sourceMappingURL=intro.css.map */
