@import 'styles';


/*************************************************
                 OVERALL STYLE
**************************************************/


body {
	background-color: #478bca;
}

.center {
	margin: 0 auto;
    width: 50%;
	display: block;
}

.center-content {
	margin: 0 auto;
	display: block;
}

.center-text {
	text-align: center;
}

.margin-top {
	margin-top: 10%;
}
/*************************************************
                 SITE SPECIFIC STYLE 
**************************************************/

#intro-img-sdg {
	z-index: -2;
	background: transparent url('../img/intro-img.png') no-repeat;
	height: 100vh;
	background-size: cover;
}

.button {
	z-index: 999;
	margin: 0 auto;
	display: block;
}

.how-to-play {
	margin-top: 5%;
	margin-bottom: 5%;
}


.icon-how {
	padding: 10%;
}

/*************************************************
               NAV BAR
**************************************************/


.navbar-header{
border: 2px solid white;
  
}


.navbar{
  margin-top: -10%;
  position: absolute;
   z-index: 10;
   cursor: pointer;

}


/*************************************************
                CSS ANIMATION NAMES 
**************************************************/

#girl-name {
	float: left;
	margin-left: 150px;
	position: relative;
	animation: down 3s ease-out;
}

#boy-name {
	float: right;
	position: relative;
	animation: down 3s ease-out;
	margin-right: 150px;
}

@keyframes down {
	from {
		top: -400px;
		left: 0px;

	}
	to {
		top: 0px;
		left: 0px;
	}
}