@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
/*BRAND Color Variables*/
$brand-lightblue: #b3e5fc;
$brand-blue: #5cc4fc;
$brand-darkblue: #478bca;
$brand-white: #ffffff;
$brand-black: #161D2D;

/*Goal Variables*/

$goal2-light: #fbc30a;
$goal2-dark: #d3a029;

$goal14-light: #017dbc;
$goal14-dark: #0757a0; 

/*Font Variables*/

$font-headline: 'Rammetto One', sans-serif; /*will buy the font on monday*/
$font-primary: 'Poppins', sans-serif;


body {
	margin: 0;
	padding: 0;
}

.navbar-header{
  position: absolute;
  
}

.navbar-brand{

   /*nesting hover for logo*/
   &:hover {

    animation: top .7s ease-out;
    -webkit-animation-fill-mode: forwards; /* Chrome, Safari, Opera */
    animation-fill-mode: alternate-reverse;
    
    }
  }

.navbar{
   z-index: 10;
   cursor: pointer;

}

.logo{

}

/*Typography*/

h1,
h2,
h3,
h4,
h5,
h6 {
color: $brand-white;
font-family: $font-primary;
}


p {
  font-family: $font-primary;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: $brand-white;
}

/*Links & Buttons*/

a{

}

/*Page structure*/

section{
  margin: 0;
  padding: 0;
}

.section-cover{
  height: 100%;
  width: 100%; 
}

#intro-bg{
  background-image: url("../img/sdg_introworld1.png");
}

#home-bg{
  background-image: url("../img/sdg_homemap.png");

}


/* .page-content class for all our Intro-world sections*/
.page-content{
    position: absolute;
    /*responsive image*/
    height: 100%; 
    margin: 0 auto;
    /*Border gives the effect of game*/
    border: 20px solid $brand-white;
    /*Rounded corner of sections*/
    border-radius: 60px;
    z-index: -2;
    /* Center and scale*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.no-gutters {
  margin-right: 0;
  margin-left: 0;
  }

/*Homepage Elements*/

.cloud1{
  position: absolute;
  top: 50%;
  left: -10%;
  z-index: 10;
  animation: drift 80s linear infinite;
}

.cloud2{
  position: absolute;
  top: 10%;
  left: -10%;
  z-index: 10;
  animation: drift 80s 9s linear infinite;
}

.cloud3{
  position: absolute;
  top: 80%;
  left: -10%;
  z-index: 10;
  animation: drift 90s 10s linear infinite;
}


/*Web Animations*/

@keyframes top{
    from{transform:translateY(0px);}
    to{transform:translateY(20px);}
}

@keyframes drift{
  from{transform:translateX(-55px);}
  to{transform:translateX(2000px);}
}

@keyframes spin{
  100%{transform: rotate(2turn);}
}




/*Media Queries*/
/*https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488*/

@media (min-width: 501px) and (max-width: 1024px) {
  
 #home-bg{

      background-image: url("../img/sdg_flip.png");
   }

  .page-content{
    position: block;
    /*responsive image*/
    height: 100%; 
    margin: 0 auto;
    /*Border gives the effect of game*/
    border: none;
    /*Rounded corner of sections*/
    border-radius: 0;
    z-index: 3;
    /* Center and scale*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Hide our logo*/
 .navbar-brand{ 
  display: none; 
}
  
}


/*if anything needs to change*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {  
  
}




@media only screen and (max-width: 500px){ //some value

  body{
    background-color: $brand-darkblue;
  }

  #home-bg{

      background-image: url("../img/sdg_sorry.png");
   }

  .page-content{
    position: block;
    /*responsive image*/
    height: 100%; 
    margin: 0 auto;
    /*Border gives the effect of game*/
    border: none;
    /*Rounded corner of sections*/
    border-radius: 0;
    z-index: 3;
    /* Center and scale*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Hide our logo*/
 .navbar-brand{ 
  display: none; 
}

   
}




/*Wind Mills

.windmill img{
    position: absolute;
    z-index: 10; 
    top: 50%;
    left: 30%;
    animation: spin 10s linear infinite;
    animation-play-state: paused;

    &:hover {

    animation-play-state: running;
    
   } 
 } 

 */


